.header {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #dcdcdc;
  margin-bottom: 15px;
}
.header > .logo {
  padding-left: 25px;
  a {
    color: cadetblue;
    font-size: 36px;
    font-weight: 700;
  }
  i {
    color: skyblue;
    margin-right: 15px;
  }
}
